[Unit]
Description=Serve DNS file over HTTP on wlan1
After=network.target start_morse.service

[Service]
Type=simple
ExecStart=/usr/local/bin/gateway_serve_DNS.sh
Restart=on-failure
User=root
StartLimitBurst=0
RestartSec=5

[Install]
WantedBy=multi-user.target
