[Unit]
Description=Start 80211ah mesh mode (80211s protocol)
After=network.target start_morse.service boot-mode-switch.service
Requires=boot-mode-switch.service
ConditionPathExists=!/run/boot-mode/lock

[Service]
Type=simple
ExecStart=/usr/local/bin/80211s_start.sh --client
ExecStopPost=/usr/local/bin/80211s_stop.sh
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
