[Unit]
Description=Start 80211ah AP mode
After=network.target start_morse.service dnsmasq.service

[Service]
ExecStart=/usr/local/bin/80211ah_AP_start.sh
ExecStop=/usr/local/bin/80211ah_AP_stop.sh
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
