[Unit]
Description=start ble server
After=bluetooth.target
Wants=bluetooth.target

[Service]
WorkingDirectory=/usr/local/bin/
ExecStart=python3 ble_server.py
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
